# Ignore everything in the root
/*
# Un-ignore just the subtrees we want
!.gitignore
!.vimrc
!README.md
!zaph-install
!zaph-commit
!Xresources-themes
!.Xresources
!begin
!begin-outside
!windows-ctrl.ahk
# Ignore the stuff we don't want
tags
