# Ignore everything in the root
/*
# Un-ignore just the subtrees we want
!.gitignore
!init.vim
!README.md
!zaph-*
!zaph-install
!zaph-commit
!Xresources-themes
!.Xresources
!begin
!begin-outside
!windows-ctrl.ahk
!darcula.vim
!i3
# Ignore the stuff we don't want
tags
